@import "nullstyle.scss";
body{
    margin: 0;
    min-height: 100vh;       /* Растягиваем body на всю высоту видимого экрана */
    display: flex;           /* Включаем Flexbox */
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;     /* Выравнивание по вертикали */
    background-color: #fff;
    font-family: Arial, sans-serif;
   
}

.but{
      background-color: #12a2a6; /* Бирюзовый цвет */
      color: #ffffff;             /* Белый цвет текста */
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 2px;       /* Расстояние между буквами */
      padding: 20px 50px;
      border: none;
      border-radius: 18px;       /* Скругление углов */
      cursor: pointer;
      box-shadow: 0 6px 0 #3d3248;/* Темная грань/тень снизу */
      transition-duration: 1s ;
}
.but:hover{
    background-color: #yellow;
    box-shadow: 0 8px 0 #3d3248;
}